.spinetoolbox/local
.spinetoolbox/items/**.sqlite
Raw-Data/*/
data-pipelines/europe/_visualization/files_out/*.csv
data-pipelines/europe/_visualization/files_out/*.dill
data-pipelines/europe/_spineopt-up/profiles/*.csv
data-pipelines/europe/_spineopt-up/results/*.csv